
.Stil{
    text-align: center;
}

.background{
    background-color: coral;
}




body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .search-input {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    outline: none;
    width: 250px;
  }
  
  .search-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #45a049;
  }
  