
.TextCenter{
    text-align: center;
}

/* Spacing of text */
#result {
  margin-top: 20px;
}



/* Boxes */


.rectangleWrong {
  display: none;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  margin: 10px auto;
  border: 2px solid red;
  background: lightpink;
}

.rectangleCorrect {
  display: none;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  margin: 10px auto;
  border: 2px solid green;
  background: lightgreen;
}


.resultGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
  width: 700px;
}

.centerContainer {
  display: flex;
  /* border: 2px solid black; */
  width: 700px;
  height: 300px;
  justify-content: center;
  margin: 0 auto;
}




.correct-guesses-box {
  position: fixed;
  top: 50px;
  right: 20px;
  width: 200px;
  max-height: 90vh;
  overflow-y: auto;
  padding: 10px;
  border: 2px solid green;
  background-color: #f0fff0;
  box-shadow: 0 0 10px rgba(0, 128, 0, 0.2);
  z-index: 999;
}

.correct-guesses-box h3 {
  margin-top: 0;
  text-align: center;
}

.correct-guesses-box ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 0.9em;
}
